.idea
.DS_Store
__pycache__
.vscode/settings.json
*.hdf5
*.pdb
*.ali
*.xvg
*.fasta
*.log
*.sc
*.tpr
*.xtc
*.vmd
*.zip
*.err
*.out
charmm36-jul2020.ff
/PDB/pdb-tools-master.zip
/atom_files/*.pdb

/Modeller/miss residue modeling/7lfy_fix.D00000001
/Modeller/miss residue modeling/7lfy_fix.D00000002
/Modeller/miss residue modeling/7lfy_fix.D00000003
/Modeller/miss residue modeling/7lfy_fix.ini
/Modeller/miss residue modeling/7lfy_fix.rsr
/Modeller/miss residue modeling/7lfy_fix.sch
/Modeller/miss residue modeling/7lfy_fix.V99990001
/Modeller/miss residue modeling/7lfy_fix.V99990002
/Modeller/miss residue modeling/7lfy_fix.V99990003
