.idea
.DS_Store
__pycache__
.vscode/settings.json
*.hdf5
*.pdb
*.ali
*.xvg
*.fasta
*.log
*.sc
*.tpr
*.xtc
*.vmd
*.zip
*.err
*.out
charmm36-jul2020.ff
/PDB/pdb-tools-master.zip
/atom_files/*.pdb
/outputs

/workplace/modeller/7lfy_fix.D00000001
/workplace/modeller/7lfy_fix.D00000002
/workplace/modeller/7lfy_fix.D00000003
/workplace/modeller/7lfy_fix.ini
/workplace/modeller/7lfy_fix.rsr
/workplace/modeller/7lfy_fix.sch
/workplace/modeller/7lfy_fix.V99990001
/workplace/modeller/7lfy_fix.V99990002
/workplace/modeller/7lfy_fix.V99990003
